.card-button
    width: fit-content
    -webkit-wi
    height: 40px
    background-color: $button-color
    border: none
    border-radius: 7px
    padding: 10px
    transition: 0.2s ease
    color: $cart-color
    -webkit-color: $cart-color
    -webkit-appearance: none


    svg
        font-size: $base

    div
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        text-align: center
        font-size: $small


    &:hover
        background-color: $button-hover