.navbar
    width: 1250px
    max-width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 20px 0
    font-size: $large
    font-weight: $medium

    &-cart
        border-radius: 50%
        background-color: white
        color: black
        width: 35px
        height: 35px
        display: flex
        align-items: center
        justify-content: center
        user-select: none

        
        &:hover
            cursor: pointer


    @media (min-width: 1953px)
        width: 98%




